		</div>
	</div>
	<footer class="footer">
      <div class="container">
		<ul class="footer-links">
          <li><a href="/">首页</a></li>
  
        </ul>
		<p>&copy; 2013 10BUCK </p>
      </div>
    </footer>
		<script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?0576fcf7fb3ccd52c85eeabe8c00887a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>

	</body>
</html>