<style type="text/css">
	.groupinfop a{color:#fff;text-align:center;display:inline-block;width:35%;margin:15px 5%;line-height:40px;border-radius:5px}
</style>

<header class="group_head">

	<section><a href="javascript:history.go(-1);" class="head_back"></a></section>
	<section><div class="cWhite"> YOUR BCODE</div></section>
	<section> <a id="forgetPass"  href="index.php?_c=order&_a=orderList&status=unpay" class="search btn cWhite">CON<br/>FIRM</a></section>
</header>

<section class="main">
	<section class="content">
		<dl class="about"> 
			<dt>Your Bcode is
            <br/>
            <font color="#00CC66">{{$bcode}}</font> 
            </dt>
			<dd>Please make the order in 24 hours, <br/>otherwise Bcode will be expired</dd>
            <div class="groupinfop">
            <a href="{{$product_link}}" class="fr" style="background:#ec6866;">Purchase Now</a>
            <a href="index.php?_c=index&_a=mail&id={{$id}}&type=bcode" class="lr" style="background:#F63;">Email Me</a>
            </div>
		</dl>
	</section>
</section>
