<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>10BUCK-GOODS</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/group.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	
</head>
<body style="width:100%">

	<div class="group_main" id="group_main">
		<div class="group_head" nowrap>
			<div  ><a href="javascript:history.go(-1);" class="head_back"></a></div>
            <div >Goods</div> 
			<div ><a href="index.php?_c=order&_a=index" class="search"></a></div>
		</div>
		<div class="groupinfo">
			<div class="groupinfoimg"><a href="{{$product_link}}"><img src="{{$pic_link}}"></a></div>
			<div class="groupinfodiv">
           	 	<form method="post" action="index.php?_c=goods&_a=about" >
                <div>
                	<!--<select id="selectshipping" name="selectshipping" class="selectbox">
                    	{{if $noshipping}}<option value="1"> pay ${{$price}},get {{$totalfanli}}</option> {{/if}}
                        <option value="0">pay ${{$price}},get product and ${{$fanli}} rebate</option>
                    </select> -->
                   {{if $noshipping}}
                    Finish the task, get <font color="red">${{$fanli}} +${{$price}}</font> back
                   {{else}}
                   	Trial it, get <font color="#009966">${{$fanli}} </font>back
                   {{/if}}
                </div>
                <input type="hidden" name="id" value="{{$id}}"/>
                <input type="hidden" name="noshipping" value="{{$noshipping}}"/>
                <input type="hidden" name="event_id" value="{{$event_id}}"/>
				<p class="groupinfop"  nowrap>
                <!--<em class="{{if $params.liked}}on{{/if}}"> 收藏（{{$params.wishes}}）</em> -->
               {{if $restamount > 0}}
                <input type="submit"  value="APPLY BCODE"/>
                {{else}}
                	<em>Sold Out~</em>
               {{/if}} 
                </p>
                </form>
			</div>
			<div class="groupinfodiv2">
				<div class="infotitle"><img src="images/group2_58.jpg" width="24">How to trial</div>
			
            
             
                <div class="info_div">
         
                <font style="font-family:Verdana, Geneva, sans-serif; font-size:12px">
                    <table>
                    	<tr>
                       	 
                       	 <td>You just need to place the order as usually. After you give feedback ,
                          merchants will release you bonus as promised.
                       	<br/> <font color="#FF0000">Remember </font>to input receiver name in our system after you finish the order.
                         
                         </td>
                        </tr>
                    	
                    
                    </table></font>
                </div>
			</div>
            <div class="groupinfodiv2">
				<div class="infotitle"><img src="images/group2_58.jpg" width="24">Why we do this</div>
			
            
             
                <div class="info_div">
         
                <font style="font-family:Verdana, Geneva, sans-serif; font-size:12px">
                    <table>
                    	<tr>
                       	 
                       	 <td>
                         Items on 10BUCK are normally new launch products, sellers
                         are willing to offer some for trial to get first-hand feedback immediately.<br/>
                         Therefore,your comments may decide the future of this product.
                         </td>
                        </tr>
                    	
                    
                    </table></font>
                </div>
			</div>
			<div class="menu_bottom">
				<a href="javascript:void(0)"><img src="images/group2_97.jpg"><br>LEGAL</a>
				<a href="javascript:void(0)"><img src="images/group2_94.jpg"><br>BREEZILY</a>
				<a href="javascript:void(0)"><img src="images/group2_88.jpg"><br>INSURED</a>
				<a href="javascript:void(0)"><img src="images/group2_91.jpg"><br>EXCLUSIVE</a>
			</div>
		</div>
	</div>
	<p class="groupinfop groupbtn">
        <!-- <em class="{{if $params.liked}}on{{/if}}">
            <a href="javascript:void(0)">收藏（15）</a>
        </em>
        -->
        <a href="index.php?_c=order&_a=confirm&id={{$params.goods_id}}">立即购买</a>
    </p>

    <script type="text/javascript">  
		$("#group_main").bind('scrollstart', function () {
			//$(".groupinfodiv p").addClass("groupbtn");
			if(document.body.scrollTop>350){
				$(".groupbtn").show();	
			}else{
				$(".groupbtn").hide();	
			};
		});  
		//$("#group_main").bind("scrollstop", function () {
			//$(".groupinfodiv p").removeClass("groupbtn");
		//}); 
		$(document).ready(function(e) {
			$(".ui-loader").hide();
			$(".menu_div a").click(function(){
				$(".menu_div a").removeClass("menu_a");
				$(this).addClass("menu_a");	
			});
			$(".menu").toggle(function(){
				$(".menu_div").show();
			},function(){
				$(".menu_div").hide();	
			});
			$(".groupinfop a:last-child").click(function(){
				$(this).css("opacity","0.7");	
			});
		});
		
	//添加喜欢
	(function(){
	$("#content").find('em').click(function(){
		var _this = $(this), num = _this.find('span').eq(0);	
		var goods_id = _this.find('span').eq(1).eq(0).html();
		if(_this.hasClass('on')){//取消喜欢	
			$.ajax({
				type: 'GET',
				url: 'index.php?_c=love&_a=wishes',
				data: {goods_id: goods_id},
				dataType: 'json',
				success: function(data){
					if(data.ret.status == 200){
						alertMSG('已取消喜欢');
						_this.removeClass('on');
						num.html(data.ret.data);
					}else{
						alertMSG(data.ret.data);
					}
				},
				error: function(xhr, type){
				  alertMSG('网速不给力哦～');
				}
		  });
		}else{//添加喜欢
			$.ajax({
				type: 'GET',
				url: 'index.php?_c=love&_a=wishes',
				data: {type:'love',goods_id: goods_id},
				dataType: 'json',
				success: function(data){
					if(data.ret.status == 200){
						alertMSG('已喜欢');
						_this.addClass('on');
						num.html(data.ret.data);
					}else if(data.ret.status == 300){
						window.location.href = data.ret.data;
					}else{
						alertMSG(data.ret.data);
					}
				},
				error: function(xhr, type){
				  alertMSG('网速不给力哦～');
				}
		  });
		}
	})
})();
    </script>  
    </div>
<!--<footer>
	
	<div></div>
	<!--<p>Copyright 2014 by 10buck.com <img src="{{$_hmtPixel}}" width="0" height="0" /></p>
</footer> -->
</body>
</html>
</body>
</html>
