<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>10BUCK 友情提示~</title>
<link href="/css/bootstrap.docs.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" >
	<div class="navbar-inner">
        <div class="container">
          
          <div class="nav-collapse collapse">
           
          </div>
        </div>
        </div>
</div>
<div class="container">
    <div class="hero-unit">
    <h1>友情提示~</h1>
    <p>{{$warn}}</p>
	<a target=blank href="http://wpa.qq.com/msgrd?v=3&uin=1985785833&site=qq&menu=yes">
		<img border="0" src="http://wpa.qq.com/pa?p=1:1985785833:10/" alt="联系官方客服"/>
	</a>
    <p>
	
    <a href="index.php" class="btn btn-primary btn-large">
    	返回首页
    </a>
    </p>
    </div>
    
    </div>
</body>
</html>
