</div> <!-- end of container -->
</div>

</body>
<footer class="footer">
      <div class="container">
        <p>Copyright by ShangHai LeafDaosim Tech Co.,Ltd ,China</p>
        <br/>
        <p>ICP备案号：沪ICP备14017140号-4</p>
        <p>公司地址：上海 浦东 张江高科技园区 </p>
       
      </div>
</footer>
<script src="http://cdn.bootcss.com/holder/2.0/holder.min.js"></script>
<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?0576fcf7fb3ccd52c85eeabe8c00887a";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
</html>