<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{$title}}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link href="/css/buck.css" rel="stylesheet" />

</head>

<body class="guide">

	<div class="group_cover">
        <div><img src="images/guide_01.jpg"></div>
        <h2>save or earn</h2>
        <a href="#" class="tlogin"><img src="images/lo_03.jpg"></a>
        <!--<div class="guide_a"><a href="javascript:void(0)"><img src="images/lo_06.jpg"></a><a href="javascript:void(0)"><img src="images/lo_08.jpg"></a></div>-->
        <p>Your Trial, My Treat</p>
        <div class="guide_bottom"></div>
	</div>
    

    <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(e) {
            $(".tlogin").click(function(){
				$(".group_cover").fadeOut();	
				$(".group_main").fadeIn();	
			});
        });
    </script>


<div class="group_main" style="display:none">
	


    <div class="group_head">
        <section ></section>
        <section><div class="cWhite">LOGIN/SIGNUP</div></section>
        <section></section>
    </div>
    
    

	<section class="content">
		<div class="order_list">
            <form id="loginForm" action="index.php?_c=login&_a=passw" method="post">
            <div class="login" id="login">
                <dl>
                    <dt>
                    <input class="reg_input" type="text" id="temail" name="temail" value="{{if $email}}{{$email}}{{/if}}" class="cGray" />
                    <p style="color:#666;font-size:14px">&nbsp;NOTICE: Your account will be used to receive Paypal payment.</p>
                    <span class="cGray">Your Email</span><p>
                    
                    
                    </p> 
                    </dt>
                    <dd>
                    <input type="hidden" name="style" value="{{$style}}" />
                    <a id="sumitForm" name="sumitForm" href="javascript:;" class="cWhite set-btn1">NEXT</a>
                    </dd>
                    <dd>
                    <input type="checkbox" id="useright" checked> 
                   	 <a href="index.php?_c=help&_a=agreement" class="cBlue">"User Rights and Legal Agreement"</a>
                    </dd>
                </dl>
            </div>
            </form>
            <div>
            	<p></p>
            </div>
        </div>
	</section>
	<script type="text/javascript">
    (function(){
        
        $(".login").delegate('input','blur',function(){
            var _this = $(this);
            if(_this.val()=='') _this.next().show();
        }).find('span').click(function(){
            $(this).hide().prev().focus();
        })
        
        var element = $(".login").find('input').eq(0);
        
        element.val() ? element.next().hide():element.next().show();
        
        $('#sumitForm').click(function(){
             if(!$('#useright').attr('checked')){
                alertMSG('You need to obey the agreement to login');	
            }else{
                $('#loginForm').submit();
            }
        });
    })();
    </script>
	<script type="text/javascript" src ='/js/jquery-10buck-log.js'></script>
    
    <footer>
      
        <div></div>
        <p>Copyright 2014 by 10buck.com <img src="{{$_hmtPixel}}" width="0" height="0" /></p>
    </footer>
</div>
</body>
</html>