 <div class="span9">
<table class="100%" border="0" cellspacing="0" cellpadding="5" align='center'>
  <tr>
      <td colspan="7"><div style="float:right;"><a href="index.php?_c=brand&_a=add">添加品牌</a></div></td>
  </tr>
  <tr>
      <th width="20%">品牌名称</th>
      <th width="15%">品牌中文名称</th>
      <th width="20%">品牌英文名称</th>
      <th align="center" width="15%">品牌logo</th>
     
      <th align="center" width="10%">状态</th>
      <th align="center" width="10%">操作</th>
  </tr>
  {{if $list}}
  {{foreach from = $list item = items}}
  <tr>
      <td align="center">{{$items.brand_name}}</td>
      <td align="center">{{$items.brand_cname}}</td>
      <td align="center">{{$items.brand_ename}}</td>
      <td align="center"><img src="{{$items.brand_logo}}" alt="暂无图片" width="100px" height="100px" /></td>
     
      <td align="center">{{if $items.if_show eq 1}}可使用
						{{else if $items.if_show == 0}} <a href="#" onclick="javascript:alert('请使用注册邮箱发送品牌材料到contact@10buck.com')">审核中 </a>
						{{else}}未通过{{/if}}
	  </td>
      <td align="center">
	  <!-- <a href="index.php?_c=brand&_a=edit&brand_id={{$items.brand_id}}">修改</a>&nbsp;&nbsp;||&nbsp;&nbsp; -->
	  <a href="index.php?_c=brand&_a=delete&brand_id={{$items.brand_id}}" onclick="return window.confirm('确定删除?')">删除</a></td>
  </tr>
  {{/foreach}}
  {{/if}}
  <tr>
      <td align="center" colspan="7">{{$page}}</td>
  </tr>
</table>
</div>