



<div name="maindiv" class="span12">

	
		<div class="span12 text-center text-info"><h3>新发布商品列表</h3></div>
	
		
		<table id='content' align="center" class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>商品</th>
					<th>商品次图</th>
					<th>brand_id</th>
					<th>价格</th>
					<th>颜色</th>
					<th>型号</th>
					<th>申请人</th>
                    	
					<th>操作</th>
				</tr>
			</thead>
				{{foreach from=$tableCon item=good }}
					<tr {{if $good.status !='1'}}class="success"{{/if}}>
						<td><a href="{{$goods.product_link}}">{{$good.goods_name}}</a><br/><img src="{{$good.default_image}}" style="max-width:300px"/></td>
						<td><img src="{{$good.default_thumb}}" style="max-width:300px"/></td>
						
						<td>{{$goods.brand_id}}</td>
						<td>{{$good.price}}</td>
						<td>{{$good.color}}</td>
						<td>{{$good.size}}</td>
						<td>{{$good.mer_id}}</td>
						
						<td>
                     
                        	
                        	<a  href="index.php?_c=goods&_a=verify&id={{$good.goods_id}}&pass=tongguo"  class="btn btn-warning btn-small" >通过</a>
                          
                            <a  href="index.php?_c=goods&_a=verify&id={{$good.goods_id}}"  class="btn  btn-small" >驳回</a>
							
	                    
						</td>
					</tr>
				{{/foreach}}
		
		</table> 
		<style type="text/css">
		.carInfo {width:800px;height:56px;border-top:1px #e1e1e1 solid;overflow:hidden;margin:0 auto;}
		.carInfo dt {float:left;padding:16px 0 0 3px;color:#323232;}
		.carInfo i {padding-right:30px;}
		.carInfo dd {float:right;padding-top:13px;}
		</style>
		<table>
		<tr>
      		<td align="center" colspan="8">{{$page}}</td>
  		</tr>
		</table>
		
</div>