<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{$title}}</title>
<link href="/css/bootstrap.docs.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<LINK href="/css/style.css" rel="stylesheet">
<script src="/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="application/javascript" src="/js/main.js"></script>
<script type="text/javascript">
//导航栏效果
$(function(){
	var nav = $('#nav').children();
	for (var i=0;i<nav.length;i++){
		if (nav[i].className=="menu"){
			nav[i].onmouseover = function(){fnNav(this,"block")};
			nav[i].onmouseout = function(){fnNav(this,"none")};
		}
	}
	function fnNav(obj,flag){
		$(obj).find("dl")[0].style.display = flag;
	}
});
</script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" >
	<div class="navbar-inner">
        <div class="container">
          	
           <div class="nav-collapse collapse">
           		<ul class="nav">
                	<li><a href="/index.php" >Index</a></li>
                 	<li><a href="http://ask.10buck.com/" target="new" >Quora</a></li>
                </ul>
          </div>
          
        </div>
        </div>
</div>
<header id="overview" class="jumbotron subhead">
  <div class="container">
    <h1> MODE - Fashion Week Global</h1>
    <p class="lead">  WHERE FASHION NEVER SET</p>
  </div>
</header>


<div class="container" style="min-height:500px">
    
    	 	<div class="page-header">
            <h1>Critic System</h1>
            </div>
            <div class="row">
            	<div class="span6">
                   <table class="table table-bordered">
                    <form class="form-horizontal" method="post" action="?_c=login">
                    <tr>
                  
                    <td align="center">
                    <div class="control-group">
                        <label class="control-label" for="inputUsername">CRITIC NAME</label>
                        <div class="controls">
                            <input type="text" id="inputUsername" name="user_name" placeholder="USERNAME">
                        </div>
                    </div>
                
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" name="pwd" placeholder="Password">
                        </div>
                    </div>
					<div class="control-group">
						<input type="name" id="verifycode" name="verifycode" style="width:60px;height:25px" /> &nbsp;&nbsp;
						<img  title="点击刷新" src="index.php?_c=login&_a=genVerifyCode" align="absbottom" onclick="this.src='index.php?_c=login&_a=genVerifyCode&'+Math.random();"></img>
					</div>
					
					
                    <div class="control-group">
                    </div>    
                        <div class="controls">
                        <button type="submit" class="btn btn-large">LOG IN</button>
                        <!-- <a href="index.php?_c=login&_a=reg" class="btn btn-info btn-large">注册</a> -->
                        </div>
                    </div>
				
                    </td>
				
                    </tr>
                    </form>
                    </table>
                 
			
                    
            </div>
            <div class="clear"/>
         
 
</div>
   <section>
  
    </section>
{{include file="../footer.html"}}
