</div> <!-- end of container -->
</div>

</body>
<footer class="footer">
      <div class="container">
        <p>Copyright by ShangHai LeafDaosim Tech Co.,Ltd ,China</p>
        <br/>
        <p>ICP备案号：沪ICP备14017140号-4</p>
        <p>公司地址：上海 浦东 张江高科技园区 </p>
        <ul class="footer-links">
          <li><a href="#">客服QQ:1985785833</a></li>
          <li class="muted">·</li>
       	  <li><a href="#">客服电话:021-60546040</a></li>
        </ul>
      </div>
</footer>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/holder/2.0/holder.min.js"></script>
</html>