<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>10BUCK</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="group_main" id="group_main">
    	<div class="group_top">
            <div class="group_head">
                <h1 style="font-size:18px">We Pay You Trial</h1>
                <span class="menu"></span> 
                <!--<a href="javascript:void(0)" class="search"></a>-->
            </div>
            <div class="swiper-container">
            	<div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="index.php?_c=index&_a=event&hot=1" >Special <em><SUP><img src="img/hot1.png"/></SUP></em></a>
                        <!--<a href="index.php?_c=index&_a=newlaunch&cate=102">FREE TRIAL</a>-->
                        <!--<a href="index.php?_c=index&_a=newlaunch&cate=3">home</a>
                        <a href="index.php?_c=index&_a=newlaunch&cate=4">kids</a>
                        <a href="index.php?_c=index&_a=newlaunch&cate=5">electronic</a>
                        -->
                 
                    </div>
                </div>
            </div>
        </div>
        <div class="menu_left">
            <h2>Hi!</h2>  
            <ul>   
            	<!--<li><a href="index.php?_c=login&_a=logout" class="menu_favor">Favors</a></li> -->
                <li><a href="index.php?_c=order" class="menu_save">Orders</a></li> 
                <li><a href="index.php?_c=index&_a=mianu" class="menu_earn">Task</a></li> 
                <li><a href="index.php?_c=login&_a=logout" class="menu_logout">Logout</a></li> 
            </ul> 
        </div>
        <div id="wrapper">
            <div id="scroller">
               <!-- <div id="pullDown">
                    <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
                </div>
                -->
                <div class="index_content" id="thelist">
                    <div class="index_item">
                        <a href="index.php?_c=index&_a=newlaunch&cate=1"><img src="img/woman.jpg">
                            <!--<div><span>&nbsp;WOMEN</span>View 
                            ENDS IN 2 DAYS
                            </div> -->
                        </a>
                    </div>
                    
                    <div class="index_item">
                        <a href="index.php?_c=index&_a=newlaunch&cate=3"><img src="img/home.jpg">
                            <!--<div><span>&nbsp;WOMEN</span>View 
                            ENDS IN 2 DAYS
                            </div> -->
                        </a>
                    </div>
        
                   
                </div>
                <!--
                <div id="pullUp">
                    <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
                </div>
                -->
            </div>
        </div>
	</div>
    <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="js/idangerous.swiper.min.js"></script>
	<link type="text/css" href="css/idangerous.swiper.css" rel="stylesheet">
	<script type="text/javascript" src ='/js/jquery-10buck-log.js'></script>
 	<script type="text/javascript">  
	$(".menu").click(function(){
		$(".menu_left").toggle();
	});
	var mySwiper = new Swiper('.swiper-container',{
		scrollContainer: true,
	});
	</script>
	<script type="text/javascript" src ='/js/jquery-10buck-log.js'></script>
</body>
</html>
