<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>New Launch -10BUCK</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="group_main" id="group_main">
    	<div class="group_top">
            <div class="group_head">
                <h1>Trial New</h1>
                <a href="index.php" class="back"></a>
               <!-- <a href="javascript:void(0)" class="search"></a> -->
            </div>
        </div>
        <div id="wrapper" style="top:50px">
             {{if $newEvent}}
            <div id="scroller">
                <div id="pullDown">
                    <span class="pullDownIcon"></span><span class="pullDownLabel">reload</span>
                </div>
              
              <div class="index_content" id="listcontent">
          
              		{{foreach from=$newEvent item=item}}
                	<div  class="list_item">
                        <a href="index.php?_c=goods&_a=detail&id={{$item.event_id}}"><img src="{{$item.pic_link}}">
                           {{if $item.hot}} <p><em>HOT</em></p> {{/if}}
                           {{if $item.numleft < 5 }} <span>only {{$item.numleft}} left</span> {{/if}}
                        </a>
                        <div>
                        <!--<a href="#" id="item{{$item.event_id}}" onclick="javascript:changeLike({{$item.event_id}});" class="like"></a>-->
                        <font color="#009933">${{$item.fanli}} </font><span>price<br>$ {{$item.price}}</span></div>
                    </div>
                    {{/foreach}}
                    
         
               </div>
                <input type="hidden" id="cate" name="cate" value="{{$cate}}" />
                <div id="pullUp">
                    <span class="pullUpIcon"></span><span class="pullUpLabel">View More...</span>
                     <img src="images/loading.gif" width="100%">
                </div>
             {{else}}
                    	<div class="emptycontent" onClick="javescript:window.location.href='index.php';"></div>
             {{/if}}
            </div>
        </div>
	</div>
    
    <input type="hidden" id="page" name="page" value="1" />
    <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
    <script type="application/javascript" src="js/iscroll.newlaunch.js"></script>
    <script type="text/javascript"  src="js/jquery.imagesloaded.js"></script>
    <script type="application/javascript" src="js/jquery.wookmark.min.js"></script>
   <!--  <script type="text/javascript" src="js/10buckpull.js"></script> -->
	<script type="text/javascript" src="js/10buckpull.js"></script>  
    <script>
		//页面加载完成，刷新一次
		window.onload= function onload(){ 
				myScroll.refresh();	
			};
		
		
    		function changeLike(id){
				if($('#item'+id).hasClass('like'))
				{
					$('#item'+id).removeClass('like');
					$('#item'+id).addClass('unlike');
				}
				else
				{
					$('#item'+id).removeClass('unlike');
					$('#item'+id).addClass('like');
				}
			}
    </script>
</body>
</html>
