<div class="group_main" >
<header class="group_head">
	<section><a href="index.php?_c=order&_a=index" class="head_back"></a></section>
	<section>
		<div class="cWhite">CLOSED</div>
	</section>
	<section></section>
</header>
<section class="main">
	<section class="content">
		<div class="order-menu cWhite">
			<ul>
 
            
				<li><a href="index.php?_c=order&_a=orderList&status=unpay">wishlist</a></li>
				<li><a href="index.php?_c=order&_a=orderList&status=payed">on process</a></li>
				<li><a href="index.php?_c=order&_a=orderList&status=shipped">confirmed</a></li>
				
				<li  class="on"><a href="#">canceled</a></li>
			</ul>
		</div>
       {{if $params}}
        <div class="order_list">
            {{foreach from = $params item = item}}
            <div class="order">
                <a href="#}">
                <div class="order-pro">
                    <section><img src="{{$item.pic_link}}"></section>
                    <section>
                        <div><p>{{$item.event_name}}</p></div>
                      <div><p class="cBlue"  nowrap>Pay:${{$item.price}}&nbsp;&nbsp;Rebate:${{$item.totalfanli}}</p></div>
                    </section>
                </div>
                </a>
                <div class="order-tit">
                    <section class="fr cGray">EXPIRED</section>
                    
                </div>
            </div>
            {{/foreach}}
        </div>
        {{else}}
        <div class="order-no"></div>
        {{/if}}
	</section>
</section>
</div>