<div class="group_main" >
<div class="group_head" nowrap>
   		<section><a href="index.php?_c=index" class="head_back"></a></section>
        <section><div class="cWhite">MY ACCOUNT</div></section>
        <section></section>
</div>
<section class="main">
	<section class="content">
		<div class="order_list">
            <dl class="myTit" >
                <dt class="fl" style="margin-left:10px">Hi,{{$user_name}}!</dt>
               <!-- <dd class="fr"><a href="index.php?_c=login&_a=logout" class="btn">Logout</a></dd> -->
            </dl>
            <ul class="myorder">
                <li><a href="#">My Saving: <p class="fr" style="color:#0C6;display:inline">${{$saving|string_format:"%.1f"}}&nbsp;&nbsp;</p></a></li>
                <li>{{if $unpayCnt}}<span>{{$unpayCnt}}</span>{{/if}}<a href="index.php?_c=order&_a=orderList&status=unpay">My Orders</a><ins></ins></li>
                
              
            </ul>
           	<br/><br/>
            <a href="index.php?_c=order&_a=cash" class="cWhite set-btn2">Cash It</a> 
          
         </div>
	</section>
</section>
<script type="text/javascript">
(function(){
	$('#logout').click(function(){
		if(confirm('Are you sure to logout?')){
			window.location.href = 'index.php?_c=login&_a=logout';
		}
	});
})()
</script>