<div class="group_main" >
<div class="group_head" nowrap>
   		<section><a href="index.php?_c=order" class="head_back"></a></section>
        <section><div class="cWhite">ON PROCESS</div></section>
        <section></section>
</div>
            
<section class="main">
	<section class="content">
		<div class="order-menu cWhite">
			<ul>
				<li ><a href="index.php?_c=order&_a=orderList&status=unpay">wishlist</a></li>
				<li class="on"><a href="index.php?_c=order&_a=orderList&status=payed">on process</a></li>
				<li ><a href="index.php?_c=order&_a=orderList&status=shipped">confirmed</a></li>			
				<li><a href="index.php?_c=order&_a=orderList&status=closed">canceled</a></li>
			</ul>
        	
		</div>
		{{if $params}}
        <div class="order_list">
            {{foreach from = $params item = item}}
            <div class="order">
                <a href="#">
                <div class="order-pro">
                    <section><img src="{{$item.pic_link}}"></section>
                    <section>
                        <div>
                        <p style="text-overflow:ellipsis;"><a style="text-decoration:underline" href="{{$item.product_link}}">REVIEW PRODUCT</a></p>    
                        </div>
                       <div>
                       	<p style="font-size:9px" nowrap> SALE PRICE:${{$item.price}}&nbsp;&nbsp;</p> <p class="cBlue" style="font-size:9px" nowrap>REBATE:${{$item.totalfanli}}</p>
                        </div>
                    
                     <p style="float:right">Seller verify</p>
                    </section>
                </div>
                </a>
                <!--<div class="order-tit">
                    <section class="fl cGray">
                    	<a href="index.php?_c=order&_a=unlock&id={{$item.id}}" class="btnw">UNLOCK</a> 
                    </section>
                     <section class="fr cWhite"><a href="index.php?_c=order&_a=ordersn&id={{$item.id}}" class="btn">INPUT INFO</a></section>
                </div> -->
                
            </div>
            {{/foreach}}
        </div>
        {{else}}
        <div class="order-no"></div>
        {{/if}}
	</section>
</section>
<script>
	
</script>

</div>