 <div class="span9">
 
 	 <ul class="breadcrumb">
                <li><a href="#">首页</a> <span class="divider">/</span></li>
                <li><a href="#">活动管理</a> <span class="divider">/</span></li>
                
     </ul>
 	<table width="100%" border="0" cellspacing="0" cellpadding="5" id="content">
  	<tr>
  	  
      <th align="center" width="7%" class="pushItem">id</th>
      <th width="30%" class="pushItem">活动名称</th>
 	  <th width="10%" class="pushItem">产品链接</th>
      <th align="center" width="8%" class="pushItem">价格/返利</th>
       <th align="center" width="8%" class="pushItem">已发/总数</th>
   
    
     
      <th align="center" width="8%" class="pushItem">支持免邮</th>
      <th align="center" width="8%" class="pushItem">状态</th>
      <th align="center" class="pushItem">更新时间</th>
         <th align="center"  class="pushItem">审核备注</th>
  	</tr>
    
     {{foreach from=$events item=event}}
    	<tr>  
     	  <td align="center" class="pushItem">
          <a href="index.php?_c=history&sevent={{$event.event_id}}" target="new">DDH{{$event.event_id}} </a>    
          </td>
          <td align="center" class="pushItem">{{$event.event_name}}</td>
          <td align="center" class="pushItem"> <a href="{{$event.product_link}}" target="new">查看</a></td>
          <td align="center" class="pushItem">{{$event.price}}&nbsp;/&nbsp;{{$event.fanli}} </td>
          <td align="center" class="pushItem"><font color="red">{{$event.applied}}</font>&nbsp;/&nbsp;{{$event.amount}}</td>
     
       
          <td align="center" class="pushItem">
          {{if $event.noshipping}} 是 {{else}} 否{{/if}}
          </td>
          <td align="center" class="pushItem">
           <div class="btnOperate">
            {{if $event.status == 2 }}
            	<a href="#" y-action="batchUpStatus" y-data="status=2&eventid={{$event.event_id}}" class="btn btn-small btn-danger">已中止</a>
            {{else if $event.status == 1 }}
            	<a href="#" y-action="batchUpStatus" y-data="status=1&eventid={{$event.event_id}}" class="btn btn-small btn-success">已启动</a>
            {{else if $event.status == 0}}
            	等待审核
            {{else if $event.status == 3}}
        
            	<a href="index.php?_c=event&_a=refund&event={{$event.event_id}}" class="btn btn-small btn-warning" title="用户有24小时领劵付款期,请活动结束24小时后再申请">结算</a>
            {{else if $event.status == 4}}
            	<div title="{{$event.comment}}" >未通过</div>
              {{else if $event.status == 5}}
            	<div title="{{$event.comment}}" >已结算</div>   
             {{else}} {{$event.status}}
            {{/if}}
            </div>
            </td>
          <td align="center" class="pushItem">{{$event.ctime|date_format:"%Y/%m/%d"}}</td>
               <td align="center" class="pushItem">{{$event.comment}}</td>
      </tr>
    
    {{/foreach}}
    </table>
    
     <!--分页类-->
                	<style type="text/css">
						.carInfo {width:800px;height:56px;border-top:1px #e1e1e1 solid;overflow:hidden;margin:0 auto;}
						.carInfo dt {float:left;padding:16px 0 0 3px;color:#323232;}
						.carInfo i {padding-right:30px;}
						.carInfo dd {float:right;padding-top:13px;}
						</style>
						<table>
						<tr>
							<td align="center" colspan="8">{{$page}}</td>
						</tr>
						</table>
 </div>
 <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

 <!-- ajax : modify event staus -->
 <script>
 	(function(){
		$("#content").delegate("div,a", "click", function(){
			_this = $(this);	
			switch(_this.attr("y-action")) {		
				case 'batchUpStatus': 
					batchUpStatus(_this);
					break;
				default:
				;
			}
		});
		function batchUpStatus(_this) {
			var url = "index.php?_c=event&_a=status&" + _this.attr("y-data");
			$.getJSON(url, function(data) {			
				window.location.reload();
			});
		}
	})();
 </script>