 <div class="span9">
      		    <ul class="breadcrumb">
                <li><a href="#">首页</a> <span class="divider">/</span></li>
                <li><a href="#">资金管理</a> <span class="divider">/</span></li>
             	<li><a href="#">充值</a> <span class="divider">/</span></li>
                </ul>
                
        <form class="form-horizontal" method="post" action="?_c=store&_a=addmoney">
          		<div class="control-group">
                	<label class="control-label" for="inputUsername">充值金额</label>
                	<div class="controls">
	                    <div class="input-append">
                             <input type="text" id="inputUsername" name="amount"  placeholder="建议不低于100"/>
                             <input type="hidden" name="type" value="alipay"/>
                             <span class="add-on">人民币元</span>
                   		 </div>
                	</div>
                
            	</div>
                <div class="control-group">
                <div class="controls">
               		<label style="color:red">* 目前平台不收取任何费用</label>
            
                    <label>* 备注：我们使用Paypal给消费者返利，paypal的3.9%手续费由消费者自行承担 </label>
                    <br/>
                    <input type="submit" class="btn btn-large btn-warning" value="前往支付宝支付" />
                </div>
                
            	</div>
         </form>
          		
                
                 
                
 </div>
