 <div class="span9">
      		    <ul class="breadcrumb">
                <li><a href="#">首页</a> <span class="divider">/</span></li>
                <li><a href="#">资金管理</a> <span class="divider">/</span></li>
             
                </ul>
                
       
          		
                <div class="control-group form-inline">
                	
                    <label class="control-label" for="inputUsername">您的账户余额：</label>
                	
                    <label class="control-label" id="AccountMoney" name="user_name" style="color:red" >{{$money}}</label>&nbsp;元
                   
            	</div>
                <!-- <div class="control-group form-inline">
                	
                    <label class="control-label" for="inputUsername">活动中冻结金额：</label>
                	
                    <label class="control-label" id="AccountMoney" name="user_name" style="color:red" >200</label>&nbsp;美金
                   
            	</div> -->
                
               <a href="?_c=store&_a=addmoney" class="btn btn-warning">充值</a>
                <div class="control-group">
                	<p>&nbsp;&nbsp;</p>
                
            	</div>
                
                 
                
 </div>
