
      <div class="span9 form-inline">
      			   <div class="page-header">
                    <br/>
                    <h1>恭喜您获得内测资格~</h1>
                    </div>
                        <div class="row">
                        	
                            <div class="span5" align="center" style=" margin-top:60px; font-size:18px;">
                            	
                                <br/><br/>
                                <p>
                                    10Buck全球新品发布汇是全球第一家返利众包平台!</p>
                                    <br/>
                                 <p> 我们邀请海外消费者试用您发布的新品并给出真实评价
                                 </p><br/>
                                 <p>帮助新品快速提高商品排名</p>
                                 <br/> <br/>
                                 
                                 <!-- 邀请码-->
                                 <p style="font-size:14px">
                                 	 <font color="red">成功邀请其他商家加入，可快速提升账号等级,发布更多产品并获得折扣<br/>您的邀请链接是</font>
                                     <br/><br/><a href="#">http://shop.10buck.com/index.php?_c=login&_a=reg&invite={{$invite_code}}</a>
                                 </p>
                            </div>
                            <div class="span4">
                            	<div class="span4" >
                                <img src="/img/iphone.jpg"/>
                                </div>
                            </div>
                         </div>
                         
                   
                    
      
      
     	 </div>
      

      
      
