
      <div class="span9 form-inline">
      			   <div class="page-header">
                    <br/>
                    <h1>恭喜您获得内测资格~</h1>
                    </div>
                        <div class="row">
                        	
                            <div class="span5" align="center" style=" margin-top:60px; font-size:18px;">
                            	
                                
                                <p>
                                    10Buck是全球第一家返利众包平台</p>
                                    
                                 <p>我们平台没有专职刷单者，每个用户都是真实，不重复的海外消费者</p><p>购买后由消费者来选择是需要发货还是返还本金
                                 </p>
                                 <p>
                                    告别刷单被封号！</p>
                                 <p>
                                    在10Buck，您可以获得订单数和销售额的双丰收。
                                 </p>
                                 
                                 <br/> <br/>
                                 
                                 <!-- 邀请码-->
                                 <p style="font-size:14px">
                                 	 <font color="red">成功邀请其他商家加入，可快速提升账号等级,发布更多产品并获得折扣<br/>您的邀请链接是</font>
                                     <br/><a href="#">http://shop.10buck.com/index.php?_c=login&_a=reg&invite={{$invite_code}}</a>
                                 </p>
                            </div>
                            <div class="span4">
                            	<div class="span4" >
                                <img src="/img/iphone.jpg"/>
                                </div>
                            </div>
                         </div>
                         
                   
                    
      
      
     	 </div>
      

      
      
