
 <div class="span6">
      		    <ul class="breadcrumb">
	                <li><a href="#">商家信息</a> <span class="divider">/</span></li>    
                </ul>
                
       
          		    <table class="table table-bordered table-hover">
    					<tr>
                        	<td>姓名：</td>
                            <td>{{$nick_name}}</td>
                        </tr>
                        <tr>
                        	<td>电话号码：</td>
                            <td>{{$phone}}</td>
                        </tr>
                        <tr>
                        	<td>邮箱：</td>
                            <td>{{$email}}</td>
                        </tr>
                        <tr>
                        	<td>账号等级：</td>
                            <td>{{$level}}级  <a href="#myModal" role="button" class="btn btn-small btn-warning" data-toggle="modal">查看</a></td>
                        </tr>
                        <tr>
                        	<td>邀请商家数：</td>
                            <td><font color="red">{{$invite}}</font>&nbsp;个</td>
                        </tr>
                            <!-- Button to trigger modal -->
   						 <tr>
                        	<td>提建议积分：</td>
                            <td><font color="red">{{$point}}</font>&nbsp;分</td>
                        </tr>
  
                        <tr>
                        	<td>创建时间：</td>
                            <td>{{$ctime|date_format:"%Y-%m-%d"}}</td>
                        </tr>
   				   </table>
                
                    
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">权限说明</h3>
    </div>
    <div class="modal-body">
    <p>提升等级可以获得优先曝光和更多的产品展示机会，降低冻结资金比例。</p>
    <p><a target="new" href="http://ask.10buck.com/ask/?/article/4">详情请看《10BUCK跨境电商返利平台 商家升级规则说明 》</a></p>
    <p>注：等级每周更新一次</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">确定</button>
   
    </div>
    </div>
                
 </div>
