 <div class="span9">
      		    <ul class="breadcrumb">
                <li><a href="#">首页</a> <span class="divider">/</span></li>
                <li><a href="#">资金管理</a> <span class="divider">/</span></li>
             	<li><a href="#">提现申请</a> <span class="divider">/</span></li>
                </ul>
                
        <form class="form-horizontal" method="post" action="?_c=store&_a=releasemoney">
          		<div class="control-group">
                	<label class="control-label" for="inputUsername">提现申请</label>
                	<div class="controls">
	                    <div class="input-append">
                             <input type="text" id="inputUsername" name="amount"  placeholder="提现金额"/>
                           
                             <span class="add-on">人民币元</span>
                   		 </div>
                         
                	</div>
                	 
            	</div>
                <div class="control-group">
                	<label class="control-label" for="inputUsername">付款渠道</label>
                	<div class="controls">
                     <input type="text" name="channel" placeholder="您的支付宝账号和真实姓名"/                    
                	</div>
                	 
            	</div>
                <div class="control-group">
                <div class="controls">
               		<label>* 提现需要经管理员审核，一般1-2个小时内完成</label>
            
              
                    <br/>
                    <input type="submit" class="btn btn-info" value="确定申请" />
                </div>
                
            	</div>
         </form>
          		
                
                 
                
 </div>
