 <div class="span9">
 
 	 <ul class="breadcrumb">
                <li><a href="#">首页</a> <span class="divider">/</span></li>
                <li><a href="#">交易查看</a> <span class="divider">/</span></li>
                
     </ul>

 	<table width="100%" border="0" cellspacing="0" cellpadding="5" id="content">
  	<tr>
  	  
      <th align="center" width="15%" class="pushItem">活动</th>
      <th align="center"   class="pushItem">领劵时间</th>
        
       <th align="center" class="pushItem">返利码</th>
 	 
      <th align="center" width="6%" class="pushItem">需要发货</th>
      <th align="center"  class="pushItem">返利总额</th>
      <th align="center" width="10%" class="pushItem">状态</th>
      <th align="center" width="8%" class="pushItem">订单号/购买名称</th>
      <th align="center"   class="pushItem">更新时间</th>
    
      
  	</tr>
   
     {{foreach from=$eventInfo item=trade}}
     		  <tr>  
              <td align="center" class="pushItem">{{$trade.event_name}}</td>
              <td align="center" class="pushItem">{{$trade.ctime|date_format:"%Y/%m/%d %H:%M"}}</td>

              <td align="center" class="pushItem"> {{$trade.bcode}}</td>
              <td align="center" class="pushItem">{{if $trade.noshipping}}否 {{else}}是 {{/if}}</td>
              <td align="center" class="pushItem">{{$trade.totalfanli+$trade.profit}}美元</td>
              <td align="center" class="pushItem">
              	{{if $trade.status==0 }}	 已领劵
              	{{else if $trade.status==1}} {{if $trade.order_sn }} 已付款{{else}} 已锁定{{/if}}
                 {{else if $trade.status==2}} 商家已确认
                {{else if $trade.status==3}} 纠纷处理
                {{else if $trade.status==4}} 交易完成
                 {{else if $trade.status==99}} 取消
                  {{else if $trade.status==100}} 已分配
                {{else}} {{$trade.status}}
                {{/if}} 
              </td>
              <td align="center" class="pushItem">{{$trade.order_sn}}</td>
              <td align="center" class="pushItem">{{$trade.utime|date_format:"%Y/%m/%d %H:%M"}}</td>
        
            
              
             </tr>
     {{/foreach}}
  
    
    
    </table>
 </div>
 
 <!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">没有找到订单？</h3>
    </div>
    <div class="modal-body">
    <p>如果您确认没有收到订单，可以要求用户提供订单号<br/>但是恶意提纠纷会受到惩罚哦~</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
   
    </div>
</div>

 <!-- Modal -->
<div id="applySn" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">申请运单号</h3>
    </div>
    <form method="post" action="index.php?_c=logistic&_a=applysn">
        <input type="hidden" id="hi_event_id" name="event_id"/>
        <div class="modal-body">
        <select id="snCountry" name="snCountry">
            <option value="us">美国</option>
            <option value="ru">俄罗斯</option>
            <option value="ca">加拿大</option>
            <option value="uk">英国</option>
            <option value="fr">法国</option>
            <option value="jp">日本</option>
            <option value="other">其他国家（告知客服）</option>
        </select> 
        <p>运单号为货代公司提供，单号唯一使用，收费0.6元</p>
        <p class="alert">*当天申请运单，一般第二天发放</p>
        </div>
        <div class="modal-footer">
        <input type="submit" class="btn btn-warning " value="确定" />
     
        </div>
    </form>
</div>
 
 <!-- ajax : modify event staus -->
