
      <div class=" form-inline">
      			   <div class="page-header">
                    <br/>
                    <h1 align="center">We Depend On You To Rank Products!</h1>
                    </div>
                    <div class="span2"></div>
                   <div class="row span8" >
                        	<p style="font-size:18px;font-family:Arial">
                        		<b>Instruction:</b><br/><br/>
                        		1. we will need your patient to judge each product very carefully, based on our experience, AVG 1min per product would be ideal. <br/>
                        		2. Please select neccessory tags precisely as much as you can<br/>
                        		3. Quality and quantity are equally important<br/>
                        		4. If you meet any problem during judge work, please don't hesitate to contact admin.<br/>
                        		5. It is a meanful work not only to us but also to the whole fshion community. BUT we don't ask you to do it for charity.
                        		YOU WILL BE PAID !<br/>
                        	</p>		
                       </div>
                    <div class="clear" ></div>
                   <div align="center" class="span12">
                    <a href="index.php?_c=critic" class="btn btn-info btn-large" > START NOW</a>
      			   </div>
      
     	 </div>
      

      
      
